$RooibosTea: #a23c26;
$Orangeade: #e2552d;
$Watercress: #748c69;
$DesertFlower: #ff9687;
$ChambrayBlue: #9eb4d3;
$PastelLilac: #bcafcf;
$TCXMarlin: #515b87;
$Lemondrop: #fdd878;
$TCXMint: #00a170;
$TCXCapri: #44bbca;
